on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

name: "Build & Release"

jobs:
  build:
    name: Build & Release
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '17'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.24.3'
      - run: flutter pub get

      # Step to recreate debug.keystore from Base64
      - name: Recreate debug.keystore from Base64
        run: |
          mkdir -p $GITHUB_WORKSPACE/keystore
          echo "${{ secrets.KEYSTORE }}" | base64 --decode > $GITHUB_WORKSPACE/keystore/debug.keystore

      # Generate SHA-1 Key for Google Sign-In
      - name: Generate SHA-1 Key
        id: sha_key
        run: |
          SHA1_KEY=$(keytool -list -v -keystore $GITHUB_WORKSPACE/keystore/debug.keystore -alias androiddebugkey -storepass android -keypass android | grep 'SHA1:' | awk '{print $2}')
          echo "SHA-1 Key: $SHA1_KEY"
          echo "SHA1_KEY=$SHA1_KEY" >> $GITHUB_ENV

      - run: flutter build apk --debug --split-per-abi
      - run: |
          flutter build ios --no-codesign
          cd build/ios/iphoneos
          mkdir Payload
          ln -s ../Runner.app Payload/Runner.app
          cd ..
          zip -r app.ipa Payload

      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/debug/*,build/ios/iphoneos/app.ipa"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.TOKEN }}
